<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.blog.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.hzu.blog.domain.Article">
    <!--@mbg.generated generated on Sun May 24 13:41:24 CST 2020.-->
    <!--@Table article-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="update_day" jdbcType="TIMESTAMP" property="updateDay" />
    <result column="good_nums" jdbcType="BIGINT" property="goodNums" />
    <result column="read_nums" jdbcType="BIGINT" property="readNums" />
    <result column="is_recommend" jdbcType="BIT" property="isRecommend" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun May 24 13:41:24 CST 2020.-->
    id, title, category_id, user_id, description, content, create_day, update_day, good_nums, 
    read_nums, is_recommend
  </sql>



  <resultMap id="WithCommentsResultMap" type="com.hzu.blog.domain.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="update_day" jdbcType="TIMESTAMP" property="updateDay" />
    <result column="good_nums" jdbcType="BIGINT" property="goodNums" />
    <result column="read_nums" jdbcType="BIGINT" property="readNums" />
    <result column="is_recommend" jdbcType="BIT" property="isRecommend" />
    <collection ofType="com.hzu.blog.domain.Comments" property="comments">
      <id column="cId" jdbcType="BIGINT" property="id" />
      <result column="cContent" jdbcType="VARCHAR" property="content" />
      <result column="article_id" jdbcType="BIGINT" property="articleId" />
      <result column="cGood" jdbcType="BIGINT" property="goodNums" />
      <result column="cName" jdbcType="VARCHAR" property="name" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="is_root" jdbcType="BIT" property="isRoot" />
      <result column="is_reply" jdbcType="BIT" property="isReply" />
      <result column="cCreate" jdbcType="TIMESTAMP" property="createDay" />
      <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    </collection>
  </resultMap>


  <resultMap id="WithCategoryResultMap" type="com.hzu.blog.domain.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="good_nums" jdbcType="BIGINT" property="goodNums" />
    <result column="read_nums" jdbcType="BIGINT" property="readNums" />
    <collection ofType="com.hzu.blog.domain.Category" property="category">
      <id column="cId" jdbcType="BIGINT" property="id" />
      <result column="cName" jdbcType="VARCHAR" property="name" />
    </collection>
  </resultMap>

  <select id="page" resultMap="BaseResultMap">
    select * from article
    <where>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="title != null and title != ''">
        AND title like CONCAT ('%',#{title},'%')
      </if>
    </where>
  </select>

  <select id="totalCount" resultType="int">
    select count(*) from article
    <where>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="title != null and title != ''">
        AND title like CONCAT ('%',#{title},'%')
      </if>
    </where>
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select
     <include refid="Base_Column_List" />
    from article
    where user_id = #{userId}
  </select>

  <select id="selectOneWithComments" resultMap="WithCommentsResultMap">
    select
    a.id,
    a.title,
    a.category_id,
    a.user_id,
    a.description,
    a.content,
    a.create_day,
    a.update_day,
    a.good_nums,
    a.read_nums,
    a.is_recommend,
    co.id as cId,
    co.content as cContent,
    co.article_id,
    co.good_nums as cGood,
    co.name cName,
    co.email,
    co.is_root,
    co.is_reply,
    co.create_day as cCreate,
    co.parent_id
    from article a
    left join comments co on  a.id = co.article_id
    where a.id = #{articleId}
  </select>




    <select id="selectByUserIdAndRecommend" resultMap="BaseResultMap">
      select
      id, title, description
      from article
      where user_id = #{userId} and is_recommend = 1
      limit 5
    </select>

  <select id="selectByUserIdWithCateGory" resultMap="WithCategoryResultMap">
    select
    a.id,
    a.title,
    a.description,
    a.create_day,
    a.good_nums,
    a.read_nums,
    ca.name as cName
    from article a
    left join category ca on  a.category_id = ca.id
    <where>
      <if test="userId != null">
        AND a.user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="title != null and title != ''">
        AND a.title like CONCAT ('%',#{title},'%')
      </if>
      <if test="categoryId != null ">
        AND a.category_id = #{categoryId,jdbcType=BIGINT}
      </if>
      AND a.is_recommend = 1
    </where>
</select>


</mapper>