<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.blog.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.hzu.blog.domain.Category">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    <!--@Table category-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    id, `name`, sort, create_day
  </sql>

  <select id="page" resultMap="BaseResultMap">
    select * from category
  </select>

  <select id="totalCount" resultMap="BaseResultMap">
    select count(*) from category
  </select>
</mapper>