<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.blog.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.hzu.blog.domain.Comments">
    <!--@mbg.generated generated on Sat May 16 20:50:53 CST 2020.-->
    <!--@Table comments-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="good_nums" jdbcType="BIGINT" property="goodNums" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_root" jdbcType="BIT" property="isRoot" />
    <result column="is_reply" jdbcType="BIT" property="isReply" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="response_name" jdbcType="VARCHAR" property="responseName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat May 16 20:50:53 CST 2020.-->
    id, content, article_id, good_nums, `name`, email, is_root, is_reply, create_day, 
    parent_id, response_name
  </sql>


  <sql id="Co_Column_List">
    co.id,
    co.content,
    co.article_id,
    co.good_nums,
    co.`name`,
    co.email,
    co.is_root,
    co.is_reply,
    co.create_day,
    co.parent_id,
    ar.title as title
  </sql>

  <select id="selectByArticleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from comments
    where article_id = #{articleId}
    order by create_day
  </select>


  <select id="selectByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from comments
    where parent_id = #{parentId}
  </select>

  <select id="page" resultMap="BaseResultMap">
    select
    <include refid="Co_Column_List" />
    from
    user u inner join article ar on u.id = ar.user_id
    inner join comments co on ar.id = co.article_id
    <where>
      <if test="userId != null">
        AND u.id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="name != null and name != ''">
        AND co.name like CONCAT ('%',#{name},'%')
      </if>
      <if test="email != null and email != ''">
        AND co.email like CONCAT ('%',#{email},'%')
      </if>
      <if test="content != null and content != ''">
        AND co.content like CONCAT ('%',#{content},'%')
      </if>
    </where>
  </select>

  <select id="totalCount" resultType="int">
    select
    count(*)
    from
    user u inner join article ar on u.id = ar.user_id
    inner join comments co on ar.id = co.article_id
    <where>
      <if test="userId != null">
        AND u.id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="name != null and name != ''">
        AND co.name like CONCAT ('%',#{name},'%')
      </if>
      <if test="email != null and email != ''">
        AND co.email like CONCAT ('%',#{email},'%')
      </if>
      <if test="content != null and content != ''">
        AND co.content like CONCAT ('%',#{content},'%')
      </if>
    </where>

  </select>


  <delete id="deleteMulti">
    DELETE FROM comments
    WHERE id IN
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>



</mapper>