<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.blog.mapper.LeaveMessageMapper">
  <resultMap id="BaseResultMap" type="com.hzu.blog.domain.LeaveMessage">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    <!--@Table leave_message-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="is_parent" jdbcType="BIT" property="isParent" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="is_root" jdbcType="BIT" property="isRoot" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    id, `name`, email, content, create_day, is_parent, parent_id, is_root, user_id
  </sql>
</mapper>