<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.blog.mapper.MusicMapper">
  <resultMap id="BaseResultMap" type="com.hzu.blog.domain.Music">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    <!--@Table music-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="singer" jdbcType="VARCHAR" property="singer" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    id, `name`, user_id, url, create_day, singer
  </sql>
</mapper>