<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzu.blog.mapper.VisitLogMapper">
  <resultMap id="BaseResultMap" type="com.hzu.blog.domain.VisitLog">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    <!--@Table visit_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="create_day" jdbcType="TIMESTAMP" property="createDay" />
    <result column="visit_status" jdbcType="BIT" property="visitStatus" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 23 12:09:54 CST 2020.-->
    id, ip, request_url, create_day, visit_status, user_id
  </sql>


  <select id="page" resultMap="BaseResultMap">
    select * from visit_log
    <where>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="ip != null">
        AND ip = #{ip}
      </if>
      <if test="requestUrl != null and requestUrl != ''">
        AND request_url like CONCAT ('%',#{requestUrl},'%')
      </if>
    </where>
  </select>

  <select id="totalCount" resultType="int">
    select count(*) from visit_log
    <where>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="ip != null">
        AND ip = #{ip}
      </if>
      <if test="requestUrl != null and requestUrl != ''">
        AND request_url like CONCAT ('%',#{requestUrl},'%')
      </if>
    </where>
  </select>


  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from visit_log
    where user_id = #{userId}
  </select>


</mapper>